<article>
  <li>
  <header>
    <%= link_to story.title, story.link %>
  </header>
  <p>Upvotes: <%= story.upvotes %> | 
  Categories: None
  |
  <%= link_to "Comments", story %></p>
  </li>
</article>
