<h1>YO!!!!</h1>
<p>Welcome to Retfix! See our collection of movies below</p>

<% @all movie.each do |s|}
		<h2> <%=@all_movie.each do |s| %> </h2>
			<h2> <%= s.title %> </h2>
			<% end %> 
			<% end %>